<div class="bg-white py-12">
  <div class="container mx-auto px-4 mt-24">
    <h2
      class="text-4xl mb-8 font-bold uppercase text-left relative inline-block after:content-[''] after:block after:w-32 after:h-1 after:bg-blue-500 after:mt-4">
      {{title}}
    </h2>

    <div *ngIf="data.length > 0; else noData"
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <article *ngFor="let item of data"
        class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 w-full mx-auto cursor-pointer shadow-lg">
        <img src="../../../../assets/images/{{item.image}}" alt="{{item.name}}" class="absolute inset-0 h-full w-full object-cover">
        <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
        <h3 class="z-10 mt-3 text-2xl font-bold text-white">{{item.name}}</h3>
      </article>
    </div>

    <!-- Template for no data -->
    <ng-template #noData>
      <div class="mt-8">
        <p class="bg-zinc-50 text-gray-700 p-4 rounded-lg text-center font-semibold">
          Nema podataka.
        </p>
      </div>
    </ng-template>
    

  </div>
</div>