<div class="w-full max-w-5xl mx-auto bg-white rounded-xl p-4 sm:flex sm:items-center sm:space-x-6 shadow-md hover:shadow-sm transition-shadow duration-300 mb-4 cursor-pointer">
  <img class="block mx-auto h-16 w-16 object-cover rounded-full sm:mx-0 sm:flex-shrink-0" [src]="location.image" alt="">
  <div class="text-center space-y-2 sm:text-left">
    <div class="space-y-0.5">
      <p class="text-lg text-black font-semibold">
        {{ location.name }}
      </p>
      <p class="text-gray-500 font-medium">
        {{ location.address }}
      </p>
      <p class="text-gray-600 font-small">
        Kategorija: {{ location.type }}
      </p>
    </div>
  </div>
</div>
