<div class="h-screen w-full flex items-center justify-center" *ngIf="loading">
  <div class="w-12 h-12 rounded-full animate-spin border-4 border-solid border-blue-500 border-t-transparent"></div>
</div>
<main class="flex items-center justify-center bg-gray-100" *ngIf="!loading">
  <div class="w-full lg:flex container">
    <div class="py-6 px-4">
      <div *ngIf="locations.length > 0; else noData">
        <ng-container *ngFor="let locationItem of locations; let i = index">
          <app-location-card [location]="locationItem" [index]="i" [isSelected]="isLocationSelected(i)"
            (locationSelected)="openInfoWindowFromCard(i)" (click)="scrollToMap()">
          </app-location-card>
        </ng-container>
      </div>
      <ng-template #noData>
        <div class="w-full md:w-96">
          <p class="bg-zinc-50 text-gray-700 p-4 rounded-lg text-center font-semibold">
            Nema podataka.
          </p>
        </div>
      </ng-template>
    </div>
    <div class="w-full py-6" #googleMapContainer>
      <google-map height="100vh" width="100%" [zoom]="zoom" [center]="center" [options]="options">
        <map-marker *ngFor="let marker of markers; let i = index" [position]="marker.position"
          [options]="getMarkerOptions(i)" #markerRef="mapMarker" (mapClick)="openInfoWindow(marker, markerRef, i)">
        </map-marker>
        <map-info-window #infoWindow>
          <div class="marker-info shadow-md" *ngIf="infoWindowContent?.image">
            <img src="../../../../assets/images/{{infoWindowContent.image}}" />
            <div class="marker-details">
              <h3 class="text-lg font-semibold text-center">{{ infoWindowContent.name }}</h3>
            </div>
          </div>
        </map-info-window>
      </google-map>
    </div>
  </div>
</main>