nav {
    transition: background-color 0.3s ease-in-out;
    .active-route {
        background: #F5F5F5;
        padding: 8px;
        border-radius: 8px;
        color: #222;
    }
    a {
        padding: 8px;
    }
    .sub-menu {
        a {
            padding: 8px 20px;
        }
    }
}