.hero-section {
  background-image: url("/assets/smetovi-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; // Full viewport height
  width: 100%; // Full width
}

.text-content {
  @apply text-center p-8 bg-white bg-opacity-80 shadow-lg rounded-lg;
}

.button {
  @apply inline-block px-6 py-2 bg-blue-500 text-white rounded-lg shadow-md;
}

.button.primary {
  @apply hover:bg-blue-600;
}
