.location-list {
    font-size: 10px;
    h3 {
        font-size: 14px;
        font-weight: bold;
        color: #434343;
    }
    .location-detail {
        .description {
            line-height: 1.3;
        }
        .location-type {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 10px;
            line-height: 1;
        }
    }
    
}