<div class="w-full max-w-5xl mx-auto rounded-xl p-4 shadow-md hover:shadow-sm transition-shadow border-l-6  border-white-500 duration-300 mb-4 bg-white cursor-pointer location-list" 
     (click)="onSelectLocation()" 
     [ngClass]="{'shadow-none border-blue-500 text-white' : isSelected}">
  
  <!-- Title -->
  <h3 class="font-semibold mb-2 uppercase">
    {{ location.name }}
  </h3>

  <!-- Content Container -->
  <div class="sm:flex sm:space-x-6">
    <!-- Image -->
    <img class="block h-32 w-32 object-cover rounded-md sm:mx-0 sm:flex-shrink-0" 
         src="../../../../assets/images/{{location.image}}" alt="{{ location.name }}">

    <!-- Description and Type -->
    <div class="space-y-2 flex-1 location-detail mt-2 sm:mt-0">
      <!-- <span class="text-gray-600 text-slate-500 tracking-widest location-type">
        {{ location.type }}
      </span> -->
      <span class="inline-flex items-center bg-gray-50 px-1 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10 tracking-widest location-type">{{ location.Category.name }}</span>
      <p class="text-gray-600 text-sm text-slate-500 description">
        {{ location.description | slice:0:300 }}
      </p>
    </div>
  </div>
</div>
