<main class="flex h-screen items-center justify-center bg-gray-100">
    <div class="bg-white shadow-lg rounded-lg p-8 flex items-center space-x-4">
        <!-- Mail Icon -->
        <svg viewBox="0 0 8 6" class="h-6 w-6 text-blue-500"xmlns="http://www.w3.org/2000/svg">
            <path d="m0 0h8v6h-8zm.75 .75v4.5h6.5v-4.5zM0 0l4 3 4-3v1l-4 3-4-3z"/>
        </svg>
        
        
        <!-- Email Address -->
        <a href="mailto:info@smetovi.ba" class="text-gray-700 hover:text-blue-500">info@smetovi.ba</a>
    </div>
</main>