<main class="flex flex-col lg:flex-row h-screen items-center justify-center">
  <!-- Left Image Section -->
  <div class="w-full lg:w-1/2 h-64 lg:h-full">
    <img
      src="assets/images/kontakt.jpg"
      alt="Description"
      class="object-cover w-full h-full"
    />
  </div>

  <!-- Right Text Section -->
  <div class="w-full lg:w-1/2 h-full flex items-center justify-center p-6">
    <div class="p-4 lg:p-8">
      <h1 class="text-3xl lg:text-4xl font-bold mb-4">Kontakt</h1>
      <p class="text-md text-gray-600">
        Za sve informacije, događaje, lokacije kao i probleme na samoj
        webstranici budite slobodni da nas kontaktirate pomoću ispod prikazane
        forme. <br />
        Potruditi ćemo se da odgovorimo u što kraćem roku.
      </p>
      <br />

      <app-contact-form></app-contact-form>
    </div>
  </div>
</main>
