<main class="flex h-screen items-center justify-center">
    <!-- <div class="bg-white shadow-lg rounded-lg p-8 flex items-center space-x-4"> -->
    <!-- <svg viewBox="0 0 8 6" class="h-6 w-6 text-blue-500" xmlns="http://www.w3.org/2000/svg">
            <path d="m0 0h8v6h-8zm.75 .75v4.5h6.5v-4.5zM0 0l4 3 4-3v1l-4 3-4-3z" />
        </svg>


        <a href="mailto:info@smetovi.ba" class="text-gray-700 hover:text-blue-500">info@smetovi.ba</a> -->
    <!-- </div> -->
    <!-- Left Image Section -->
    <div class="w-1/2 h-full">
        <img src="assets/images/kontakt.jpg" alt="Description" class="object-cover w-full h-full">
    </div>

    <!-- Right Text Section -->
    <div class="w-1/2 h-full flex items-center justify-center">
        <div class="p-8">
            <h1 class="text-4xl font-bold mb-4">Kontakt</h1>
            <p class="text-md text-gray-600">
                Za sve informacije, događaje, lokacije kao i probleme na samoj webstranici budite slobodni da nas
                kontaktirate na ispod prikazani email. <br>
                Potruditi ćemo se da odgovorimo u što kraćem roku.
            </p>
            <br>
            <div class="flex">
                <a href="mailto:info@smetovi.ba"
                    class="flex items-center bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 max-w-xs">
                    <svg viewBox="0 0 8 6" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                        <path d="m0 0h8v6h-8zm.75 .75v4.5h6.5v-4.5zM0 0l4 3 4-3v1l-4 3-4-3z" />
                    </svg>
                    <span class="pl-3">info@smetovi.ba</span>
                </a>
            </div>

        </div>
    </div>
</main>