<div class="py-6 px-6 max-w-sm mx-auto bg-white rounded-xl space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6 w-full mb-4 shadow-lg">
  <img class="block mx-auto h-16 w-16 rounded-full sm:mx-0 sm:flex-shrink-0" [src]="location.image" alt="">
  <div class="text-center space-y-2 sm:text-left">
    <div class="space-y-0.5">
      <p class="text-lg text-black font-semibold">
        {{ location.name }}
      </p>
      <p class="text-gray-500 font-medium">
        {{ location.address }}
      </p>
      <p class="text-gray-600 font-small">
        Kategorija: {{ location.type }}
      </p>
    </div>
  </div>
</div>
