/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    padding: 0;
    margin: 0;
}

button, .button {
    padding: 5px 10px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

.primary {
    background-color: #fff;
    color: #222;
}