<div
  class="flex items-center bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 max-w-xs"
  (click)="openForm()"
>
  <svg
    viewBox="0 0 8 6"
    class="h-6 w-6"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
  >
    <path d="m0 0h8v6h-8zm.75 .75v4.5h6.5v-4.5zM0 0l4 3 4-3v1l-4 3-4-3z" />
  </svg>
  <span class="cursor-pointer pl-3">Kontaktirajte nas</span>
</div>

<div
  *ngIf="showForm"
  class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50"
>
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-2xl font-bold mb-4">Kontaktirajte nas</h2>
    <form (ngSubmit)="submitForm()">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="name"
          >Ime i prezime *</label
        >
        <input
          class="w-full p-2 border border-gray-300 rounded"
          id="name"
          name="name"
          [(ngModel)]="formData.name"
          placeholder="Vaše ime i prezime"
          required
        />
        <p *ngIf="formErrors.name" class="text-red-500 text-sm">
          {{ formErrors.name }}
        </p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="contactInfo"
          >Kontakt informacije (opcionalno)</label
        >
        <input
          class="w-full p-2 border border-gray-300 rounded"
          id="contactInfo"
          name="contactInfo"
          [(ngModel)]="formData.contactInfo"
          placeholder="Vaše kontakt informacije"
        />
        <p *ngIf="formErrors.contactInfo" class="text-red-500 text-sm">
          {{ formErrors.contactInfo }}
        </p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="subject"
          >Naslov *</label
        >
        <input
          class="w-full p-2 border border-gray-300 rounded"
          id="subject"
          name="subject"
          [(ngModel)]="formData.subject"
          placeholder="Unesite naslov"
          required
        />
        <p *ngIf="formErrors.subject" class="text-red-500 text-sm">
          {{ formErrors.subject }}
        </p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="message"
          >Poruka *</label
        >
        <textarea
          class="w-full p-2 border border-gray-300 rounded"
          id="message"
          name="message"
          rows="4"
          [(ngModel)]="formData.message"
          (input)="handleMessageInput($event)"
          [ngClass]="{ 'border-red-500': messageLength > maxMessageLength }"
          placeholder="Unesite vašu poruku"
          required
        ></textarea>

        <p
          class="text-sm"
          [ngClass]="{
            'text-red-500': messageLength > maxMessageLength,
            'text-gray-500': messageLength <= maxMessageLength
          }"
        >
          {{ messageLength }}/{{ maxMessageLength }} znakova
        </p>
        <p *ngIf="formErrors.message" class="text-red-500 text-sm">
          {{ formErrors.message }}
        </p>
      </div>

      <div class="flex justify-end">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="submit"
          [disabled]="
            formErrors.name || formErrors.subject || formErrors.message
          "
        >
          Pošalji
        </button>
        <button
          class="ml-4 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded"
          (click)="closeForm()"
        >
          Zatvori
        </button>
      </div>
    </form>
  </div>
</div>
